/* common shared styles */

body {
    font-family: 'Lato', sans-serif;
}

/* header styles */

header {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
}

.headerdiv {
    margin: 130px 300px 130px 120px;
    text-align: left;
}

#hh1 {
    color: #272727;
    font-weight: 700;
}

.hp1 {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
}

.hb1 {
    padding: 13px 14px;
    border-radius: 6px;
    background: #E55473;
    border: 0;
    color: white;
}

#hi1 {
    width: 600px;
    height: 500px;
    margin-right: 150px;
}

/* <main> part CSS starts from here */
/* main-section-1 */

.ms1 {
    display: flex;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 130px;
}

.ms1div {
    margin: 200px 200px;
    text-align: center;
}

.ms1h3 {
    color: #272727;
    font-weight: 700;
}

#ms1h3spn {
    color: #E55473;
}

#ms1i {
    width: 200px;
    height: 250px;
    padding: 150px 200px 40px 10px;
}

/* main-section-2 */

.ms2 {
    margin-top: 130px;
}

#ms2div1 {
    text-align: center;
}

.ms2i {
    width: 200px;
    height: 240px;
    margin: 10px 60px;
}

/* main-section-3 */

.ms3div1 {
    text-align: center;
    margin-top: 130px;
    padding-top: 60px;
}

.ms3 {
    background-image: url('../images/Rectangle\ 9.png');
}

.ms3div2 {
    text-align: center;
    padding-bottom: 60px;
}

/* footer styles */

.footer{
    margin-top: 130px;
    background-color: black;
}

.fdiv1{
    text-align: center;
}

.fh3{
    color: #E55473;
    padding-top: 60px;
}

#shop{
    color: #FFF;
}

#fp1{
    color: rgba(255, 255, 255, 0.90);
}

#fp2{
    color: rgba(255, 255, 255, 0.40);
    padding-bottom: 60px;
}